html {
    font-family: "Outfit", sans-serif;
    font-style: normal;

    height: 100vh;  /* 100% of viewport height */
    width: 100vw;   /* 100% of viewport width */
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--off-black);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


a {
    color: var(--off-black);
}
main {
    margin-bottom: 30%;
}

a:hover {
    color: var(--color-blue-medium);
}

.active {
    color: var(--color-blue-medium);
}

/* Header */
#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: var(--gray);
    z-index: -1;

    padding: 20rem;
    
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

#mascot {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(5deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: rotate(5deg) translateY(0);
    }
    50% {
        transform: rotate(5deg) translateY(-10px);
    }
}

#main-header h2 {
    font-size: 4rem;
}

/* Main */

#section-bio h3 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: var(--off-white);
}

#section-bio p {
    background-color: var(--dark-gray);

    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    border-radius: 30px;

    text-align: center;
    color: var(--off-white);

    font-size: large;
    line-height: 1.7;
}

#article-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
}

#article-container h4{
    color: var(--light-gray);
    font-size: larger;
}

#article-container p{
    color: var(--light-gray);
    line-height: 1.7;
}

.left-desc {
    margin-left: 5%;
    padding: 20px;
    background-color: var(--dark-gray);
    flex: 50%;
    border-radius: 30px;
}

.right-desc {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: var(--dark-gray);
    flex: 50%;
    border-radius: 30px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

#sub-bio h4 {
    font-weight: 300;
    font-size: small;
    text-align: center;
    color: var(--off-white);
}

/* Options Container */
#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options-container h2 {
    color: var(--off-white);
    font-size: 2rem;
}

#music-option {
    font-size: 1rem;
    color: var(--light-gray);

    margin-top: 3rem;
}

#umi-music-button {
    height: 5rem;
    width: 9rem;

    font-size: 1rem;

    border-style: none;
    border-radius: 1rem;
    background-color: var(--gray);
    color: var(--light-gray);
}

#umi-music-button:hover {
    background-color: var(--dark-gray);
    color: var(--gray);
}

#start-now-button {
    height: 5rem;
    width: 9rem;

    font-size: 1rem;

    border-style: none;
    border-radius: 1rem;

    color: var(--color-blue-light);
    background-color: var(--color-blue-medium);
}

#start-now-button:hover {
    background-color:  var(--color-blue-dark);
    color:  var(--color-blue-medium);
}


#footer-logo{
    background-color: var(--gray);
}

#footer-logo img{
    max-height: 20rem;
    max-width: 20rem;

    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#footer-logo img:hover {
    transform: scale(1.1); 
}