html {
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--light-gray);
}

a:hover {
    color: #82c9f1;
}

body {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    color: var(--off-white);
    position: relative; 
}

/* Center the quote container */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    padding: 20px;
    background-color: var(--off-black);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 500px; 
    line-height: 1.7;
}


#cancel-button {
    position: absolute; 
    top: 10px;
    left: 10px; 
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--dark-gray);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#cancel-button:hover {
    background-color: var(--off-black);
    transform: scale(1.1); 
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative; 
    padding: 20px;
    background-color: var(--off-black);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 1000px; 
    line-height: 1.7;
}
