body {
    font-family: "Outfit", sans-serif;
    font-style: normal;

    height: 100vh;  /* 100% of viewport height */
    width: 100vw;   /* 100% of viewport width */
    margin: 0;

    /* prevent scrolling */
    overflow: hidden; 

    margin-top: 10%;
    color: var(--off-black);
    background-color: var(--dark-gray);
}

a:hover {
    color: var(--color-blue-medium);
}

.active {
    color: var(--color-blue-medium);
}

/* Settings Containers */

.settings-container {
    font-size: 2em;
    display: flex;

    margin-top: 25vh;
    display: flex;
    justify-content: center;
}

.settings-container button {
    width: 20vw;
    height: 10vh;
    margin: 0;
    background-color: var(--off-white);

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid var(--light-gray);
    
    overflow: hidden;
}

.settings-container button:hover {
    background-color: var(--gray);
}
/* Nested Containers */

.container {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--off-white);
}

p:hover {
    color: var(--color-blue-medium);
    cursor: pointer;
}

#general, #notifications, #appearance, #accounts {
    font-weight: 200;
    background-color: var(--gray);
    color: var(--off-white);

    width: 70vw;
    border-width: 5px;
    border-color: var(--off-black);
    border-radius: 2rem;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}