html {
    font-family: "Outfit", sans-serif;
    font-style: normal;

    height: 100vh;  /* 100% of viewport height */
    width: 100vw;   /* 100% of viewport width */
}

* {
    box-sizing: border-box;
}

a {
    color: var(--off-black);
}

body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: var(--off-black);
}

a:hover {
    color: var(--color-blue-medium);
}

.active {
    color: var(--color-blue-medium);
}

main {
    padding-bottom: 20%;
}

/* Search Bar */
h1 {
    padding-top: 100px;
    text-align: center;
    color: var(--off-white);
    font-weight: 200;
}

.search-bar input{
    width: 400px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    border-style: none;
}

/* Question Boxes */
.faq-container {
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.question-container {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center; 
}

.question-container p {
    background-color: var(--light-gray);
    padding: 50px;
    border-radius: 30px;
}

#email h2 {
    color: var(--off-white);
}

#email {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--off-black);
}

#email textarea {
    border-radius: 10px;
    color: var(--off-black);
}

#email button {
    border-style: none;
    border-radius: 5px;
    background-color: var(--light-gray);
    color: var(--off-black);
    padding: 10px;
}

#email button:hover {
    background-color: var(--gray);
    color: var(--off-white);
    cursor: pointer;
}

#email h2 {
    font-weight: 200;
    margin-top: 10rem;
}

/* Footer */
#privacy-policy h3 {
    padding: 0;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 0;
    margin-left:0;
}

#privacy-policy p {
    padding: 0;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 0;
    margin-left:0;
}

#footer-logo{
    background-color: var(--gray);
}

#footer-logo img{
    max-height: 20rem;
    max-width: 20rem;

    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#footer-logo img:hover {
    transform: scale(1.1); 
}

.socials-logos {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.socials-logos:hover {
    transform: scale(1.1); 
}