body {
    background-color: var(--dark-gray);
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
h1 {
    font-family: 'Outfit';
    color: var(--off-white);
    margin: 50px;
    text-align: center;
}

#fetchEvents {
    font-family: 'Outfit';
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--gray);
    background-color: var(--off-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#fetchEvents:hover {
    background-color: var(--color-blue-medium);
  }